
.game{
    width: 100%;
    max-width: 650px;
    margin: 2rem auto;
    border: 5px solid #ccc;

    border-radius: 2px;
    background: #ededed;
}

.game__header{
    background: #00baca;
    padding: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.game{

}

.game-stage{
    margin: 0 auto;
    width: 400px;


}
.game-stage__body{
    stroke: black;
    fill: none;
}
.snake__head{
    fill: #ccc;
    fill-opacity: 1;
}

.snake__head--el0{
    fill: pink;
}

.fruit{
    fill: green
}

.scored{
    transition: all 0.3s ease-out;
    background: #ffe65e;
}
