:root{
    --header-color: #00baca;
}
.game{
    width: 100%;
    max-width: 650px;
    margin: 2rem auto;
    border: 5px solid #ccc;

    border-radius: 2px;
    background: #ededed;
}

.game__header{
    background: var(--header-color);
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

}

.game{
    position: relative;
}

.game-over{
    display: none;
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    background: rgba(255,255,255,0.9);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--header-color);
    border: 5px solid red;
    padding: 2rem;
    text-align: center;
    color: red;

}

.game-over.show{
    display: block;
}

.game-stage{
    margin: 2rem auto;
    width: 400px;
    border: dashed 2px var(--header-color);


}
.game-stage__body{
    fill: none;
}
.snake__head{
    fill: #ccc;
    fill-opacity: 1;
}

.snake__head--el0{
    fill: pink;
}

.fruit{
    fill: green
}

.scored{
    transition: all 0.3s ease-out;
    background: #ffe65e;
}
